/* Kepler Std Semibold Display
font-family: kepler-std-display, serif;
font-weight: 600;
font-style: normal;

Aktiv Grotesk Medium
font-family: aktiv-grotesk, sans-serif;
font-weight: 500;
font-style: normal;
*/

* {
  box-sizing: border-box;
}

main {
  display: grid;
  /* */
  grid-template-columns: 120vw 100vw 60vw 100vw 120vw 100vw 100vw 100vw 100vw 100vw 100vw 100vw 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
nav {
  background-color: black;
  writing-mode: vertical-rl;
}

ol {
  list-style-type: none;
}

.homepage {
  background: #70ff00;
  display: grid;
  grid-template-columns: 34% 33% 33%;
  color: white;
  position: relative;
}
.image3 {
  height: 100vh;
  width: auto;
}
.toc a {
  color: white;
}
.toc li {
  color: white;
}

h2 {
  color: white;
  font-family: kepler-std-display, serif;
  font-weight: 600;
  font-style: normal;
  align-items: start;
  font-size: 125px;
  padding-left: 70px;
  margin-top: 50px;
  white-space: nowrap;
  z-index: 2;

  /* how do i make the text overlap the image */
}

h3 {
  /* h3=nav bar */
}

h4 {
  /* h4=pull quote */
}

.toc {
  /* why does this not affect the toc? */
  list-style-type: none;
  color: white;
  font-family: kepler-std-display, serif;
  font-weight: 600;
  font-style: normal;
}
.introduction .column1 {
  z-index: 2;
  grid-column: 1/3;
}
.introduction .column2 {
  z-index: 1;
}

.arrow-button {
    z-index: 3;
    width: 25%;
    margin-top: 500px;
}

.image1 {
  height: 100vh;
  width: auto;
  z-index: 0;
}
.intro2 {
  background: #000;
  color: #fff;
}
.intro3 {
  background: #fff;
  color: #000;
}
.arrow-button {
  width: 25%;
  margin-bottom: -660px;
  /* how do i properly align this to sit near the bottom */
}

.introduction {
  background-color: #fff;
  color: black;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  position: relative;
}

.early-life {
  background: #000;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 40px;
  width: 100vw;
  color: #fff;
  align-items: end;
}

.early-life h1 {
  color: lime;
  font-size: 300%;
  margin: 0;
  align-items: start;
  margin-left: -100px;
  grid-column: 1/3;
}
.early-life .image9 {
  margin-left: -80px;
  margin-bottom: -80px;
  padding: 20px;
}
.early2 {
  background: #000;
  color: #fff;
}
.early3 {
  background: lime;
}
.early4 {
  background: #fff;
  color: #000;
}
.priesthood {
  color: lime;
}
.priest2 {
  background: #fff;
  color: #000;
}
.priest3 {
  background: lime;
  color: #fff;
}
.papacy {
  background: #fff;
  color: #000;
}
.papacy2 {
  background: #000;
  color: #fff;
}
