* {
    box-sizing: border-box;
}

body {
    background: #70FF00;
}

h2 {
    color: white;
    align-items: start;
    font-size: 125px;
    padding-left: 70px;
}

.toc {
    color: white;
    font-size: 75px;
    padding-left: 90px;

}